env:
  node: true
  es6: true
  # amd: true
parser: "babel-eslint"
extends:
  "eslint:recommended" # eslint, google, airbnb,
rules:
  quotes: [1, double]
  comma-dangle: 0
  no-multi-spaces: 0
  indent: [1,2]
  no-console: 0
  # semi: 0 #
